@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap");

* {
  /* Override default margins*/
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.2in;
  --pagedjs-margin-top: 0.2in;
  --pagedjs-margin-bottom: .15in;
}


:root{
  --sidebar-width: 12rem; /* side bar width */
  --sidebar-background-color: #f2f2f2;
  --decorator-border: 2px solid #f2f2f2; /* change color and thickness of timeline */

}

#main h2::after{ /* remove the decorator line after icon */
  border-left: 0;
}

.decorator::after{
  background-color: #f2f2f2; /* change color timeline dots */

}

/* Define the font family here */
body{
  font-family: "Calibri", sans-serif;

}
/* Avoid the breaking within a section */
.blocks {
  break-inside: avoid;
}

* {
  /* Override default right margin for sidebar*/
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.2in;
  --pagedjs-margin-top: 0.2in;
  --pagedjs-margin-bottom: .15in;
}


/* Customize some of the sizing variables */
:root {
  --sidebar-width: 12rem; /* Shrink sidebar width  */
  --sidebar-background-color: #f2f2f2; /* Make sidebar blue */
  --sidebar-horizontal-padding: 0.01in; /* Reduce sidebar padding */
  --decorator-outer-dim: 10px; /* Make position deliniating circles larger */
  --decorator-border: 2px solid #bdd7e7; /* Make timeline a blue as well*/
}

.details .place {
  /* Changes spacing between details*/
  margin-top: 0.1rem;
}

.main-block:not(.concise) .details div {
  /* Changes spacing between employeer and items*/
  padding-top: 0.005rem;
}


/* Laptop icon isn't centered by default which is lame */
.fa-laptop {
  margin-left: -3px;
}

/* Move closer to start and up towards header */
.aside ul {
  padding-left: 1rem;
}

/* Change the spacing between the aside categories */
.aside .level2{
  margin-top: 0in;
}

/* Reduce spacing between sidebar headings and text */
.aside h2{
  margin-bottom: -0.1in;
}

